<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/file.css" rel="stylesheet">
    
  </head>
 
  <body background="../static/back12.jpg" background-size: cover> 
 
    <div class="container"  align="center" height="50" width="40">
      <center>
      <center><img src="../static/pic3.png" height="150" ></center>
      <br>
        <form action="." method="POST" >
        <label for="inputName" class="sr-only">Search</label>
        <input type="text" name="inputName" id="inputName" class="form-control" >
        <br>
        <input type="submit" name="submit" id="submit" class="form-control" value="Search">

         </center>
        
      </form>
      </div>
 
 
    </div>
  </body>
</html>